# Main Notebook
# Note: It should  be different for everyone
Youtube_downloader_mkd.ipynb

# Code Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Python
__pycache__/
*.py[cod]
*.pyc
.pytest_cache/
venv/
env/

# Misc
.downloads
/downloads
/training_data
.training_data